MYSQL_HOST=localhost
MYSQL_LOCAL_PORT=3306
MYSQL_DATABASE=inventory_service
MYSQL_USER=inventory_app
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root

## RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
